@using POSTest.Models

@model List<Order>
@{
    ViewData["Title"] = "Orders";
}

<div class="row col-md-12">
    <div class="row col-12 my-5">
        <div class="col-md-8 offset-2">
            <p>
                <h3>
                    List of all orders
                </h3>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Items</th>
                        <th>Total</th>
                        <th>User Name</th>
                        <th>Shipping Address</th>
                        <th>Placement Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td class="align-middle">@order.Id</td>
                            <td class="align-middle">
                                <ul style="list-style-type:none">
                                    @foreach (var item in order.OrderItems)
                                    {
                                        <li>
                                            <div class="alert alert-info" role="alert">
                                                <span class="badge bg-success text-white">@item.Amount</span> [@item.Price.ToString("c")] - @item.Product.Name
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </td>
                            <td class="align-middle">
                                @order.OrderItems.Select(o=>o.Product.Price * o.Amount).Sum().ToString("c")
                            </td>
                            <td class="align-middle">@order.UserName</td>
                            <td class="align-middle">@order.ShippingAddress</td>
                            <td class="align-middle">@order.CreatedDate</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="my-5">
    </div>
</div>